<h2>TailswindCSS Styles</h2>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden">
  <div class="relative mb-12 rounded-lg bg-white px-6 pt-10 pb-8 shadow-xl shadow-xl ring-1 ring-gray-900/5 sm:px-10">
    <div class="">
      <h1 class="text-2xl text-red-600">Welcome to SensibleRails</h1>
      <p class="mt-4 text-gray-600">SensibleRails is a minimalistic, modern, and responsive Ruby on Rails application.</p>
    </div>
    <div class="bg-gradient-to-t from-text via-bg to-text h-auto rounded-lg">
      <div class="flex flex-col mt-10">
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-bg">bg</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-accent-bg">accent-bg</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-text text-black">text</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-text-light text-black">text-light</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-border text-black">border</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-accent">accent</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-code">code</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-preformatted text-black">preformatted</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-marked">marker</div>
        <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-disabled">disabled</div>
      </div>
    </div>
    <div class="mt-8 mb-12">
      <div class="flex rounded-2xl border-2 border-slate-500 bg-slate-100 p-2 shadow-xl">
        <article class="prose">
          <h1>Testing the Tailwind Prose Plugin</h1>
          <h3>Some text</h3>
          <blockquote>The paragraph below should only show two lines as it has the line-clamp plugin class</blockquote>
          <p class="line-clamp-2">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at nam natus vero voluptas. Architecto eos impedit molestiae odio porro possimus quasi reiciendis ullam? Omnis perspiciatis quod rerum veritatis voluptatem!</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at nam natus vero voluptas. Architecto eos impedit molestiae odio porro possimus quasi reiciendis ullam? Omnis perspiciatis quod rerum veritatis voluptatem!</span>
          </p>
          <ul>
            <li class="text-green-600">Items</li>
            <li>Items</li>
            <li>Items</li>
            <li>Items</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="mb-6 rounded-lg bg-slate-800 p-4">
      <p class="mb-2 text-slate-200">Demonstrating the aspect-ration plugin on the image below</p>
      <div class="mb-4 rounded-2xl bg-slate-100 p-3">
        <code lang="html"> class="aspect-w-6 aspect-h-1"</code>
      </div>
      <div class="aspect-w-5 aspect-h-1">
        <image src="https://images.unsplash.com/photo-1615776102697-fe10e1f498ac?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400"></image>
      </div>
    </div>
    <div class="mb-12">
      <div class="rounded-lg bg-gray-300 py-4 pl-12 pr-12">
        <h2 class="text-2xl font-bold text-gray-700">Form Plugin Example</h2>
        <div class="mt-8 max-w-md">
          <div class="grid grid-cols-1 gap-6">
            <label class="block">
              <span class="text-gray-700">Full name</span>
              <input type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="">
            </label>
            <label class="block">
              <span class="text-gray-700">Email address</span>
              <input type="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="john@example.com">
            </label>
            <label class="block">
              <span class="text-gray-700">When is your event?</span>
              <input type="date" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </label>
            <label class="block">
              <span class="text-gray-700">What type of event is it?</span>
              <select class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option>Corporate event</option>
                <option>Wedding</option>
                <option>Birthday</option>
                <option>Other</option>
              </select>
            </label>
            <label class="block">
              <span class="text-gray-700">Additional details</span>
              <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" rows="3"></textarea>
            </label>
            <div class="block">
              <div class="mt-2">
                <div>
                  <label class="inline-flex items-center">
                    <input type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 focus:ring-offset-0" checked="">
                    <span class="ml-2 text-gray-700">Email me news and special offers</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-gray-700">
      <h3 class="font-sans text-2xl font-extralight">Test Stimulus</h3>
      <div data-controller="hello">
        <p data-hello-target="output"></p>
      </div>
    </div>
  </div>
</div>
