<div id="flash_message" class="relative block mx-auto max-w-lg">
  <% if notice %>
    <p class="rounded-lg bg-green-600 p-3 text-center"><%= notice %></p>
  <% elsif alert %>
    <p class="rounded-lg bg-red-600 p-3 text-center"><%= alert %></p>
  <% end %>
</div>
